.color-palette {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  padding: 10px 17px;
  margin-top: 4px;
  max-width: 300px;
  background: #ffffff;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.01) 0 1px 0, rgba(0, 0, 0, 0.025) 0 0 8px, rgba(0, 0, 0, 0.075) 0 20px 30px;
  border-radius: 4px;
  z-index: 1;
}
