.color-palette {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  padding: 10px 17px;
  margin-top: 4px;
  max-width: 300px;
  background: #ffffff;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.01) 0 1px 0, rgba(0, 0, 0, 0.025) 0 0 8px, rgba(0, 0, 0, 0.075) 0 20px 30px;
  border-radius: 4px;

  &__item {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin: 3px;
    cursor: pointer;
    border: 2px solid #ffffff;
    transition: border .3s ease-in-out, box-shadow .3s ease-in-out;

    &--active {
      border: 2px solid transparent;
      box-shadow: var(--box-shadow-color) 0 0 0 4px;
    }
  }
}
