.button {
  $block: &;

  display: flex;
  align-items: center;
  margin: 5px;
  font-size: 16px;
  font-family: "Inter Medium", "Open Sans", sans-serif;
  cursor: pointer;
  transition: box-shadow .2s ease-in-out;


  &:active, &:focus {
    box-shadow: $box-shadow;
    border-color: $white;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $primary-color;
    transition: background .2s ease-in-out;
    &:hover {
      background: rgba($primary-color, 0.2);
    }
  }

  &--circle {
    border-radius: 50%;
    overflow: hidden;
    #{$block}__inner {
      border-radius: 50%;
      padding: 14px;
    }
  }

  &--rect {
    border-radius: 8px;
    #{$block}__inner {
      border-radius: 8px;
      padding: 8px 16px;
    }
  }

  &--primary {
    background: $primary-color;
    color: $white;
    &:hover {
      cursor: pointer;
      background: darken($primary-color, 2);
    }
  }
}
