.controls {
  margin-bottom: -10px;
  padding: 0;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    //min-height: 100px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    flex: 1;
  }

  &__panel {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
    max-width: 77%;
    margin-top: 40px;
    background: $white;
    padding: 24px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.01) 0 1px 0, rgba(0, 0, 0, 0.025) 0 0 8px, rgba(0, 0, 0, 0.075) 0 20px 30px;

    &-wrapper {
      display: flex;
      flex-direction: row;
      flex: 1;
      align-items: center;
      flex-wrap: wrap;
    }
    &--picker {
      display: flex;
      input {
        width: 140px;
      }
    }
    &--slider {
      display: flex;
      flex: 1;
    }
    &--gif {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 20px;
      margin-top: 20px;
      flex-wrap: wrap;
      .slider {
        min-width: 33%;
        margin: 15px 0;
      }
    }
    &--buttons {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    &--progress {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-height: 600px;
      overflow: scroll;
      .progress {
        margin: 10px 0;
      }
    }
  }
}
