.color-picker {
  margin: 0 5px;
  &__pointer {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background .2s ease-in-out, opacity .2s ease-in-out;
  }
}
