.color-picker {
  &__pointer {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: background .2s ease-in-out, opacity .2s ease-in-out;
  }
}
