*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  background: none;
  outline: none;
}

@include font-face(
  $name: 'Inter Light',
  $path: '/fonts/Inter/Light',
  $weight: normal,
  $style: normal,
  $locals: 'Inter Light',
);

@include font-face(
  $name: 'Inter Regular',
  $path: '/fonts/Inter/Regular',
  $weight: normal,
  $style: normal,
  $locals: 'Inter Regular',
);

@include font-face(
  $name: 'Inter Medium',
  $path: '/fonts/Inter/Medium',
  $weight: normal,
  $style: normal,
  $locals: 'Inter Medium',
);

@include font-face(
  $name: 'Inter Bold',
  $path: '/fonts/Inter/Bold',
  $weight: normal,
  $style: normal,
  $locals: 'Inter Bold',
);

body {
  font-family: "Inter Regular", 'Open Sans', sans-serif;
  margin: 0;
  appearance: none;
  user-select: none;
}

a {
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  color: $text-primary-color;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    box-shadow: $box-shadow;
  }
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

svg {
  path {
    transition: fill, .5s cubic-bezier(.52,.01,.47,1.93);
    //transition: fill, .3s ease-in-out;
  }
}


