$first-breakpoint: 1368px;
$second-breakpoint: 1100px;
$third-breakpoint: 768px;

@media screen and (max-width: $first-breakpoint) {
  .color-picker {
    width: 100% !important;
  }
  .tabs {
    margin-bottom: 10px;
  }
  .controls {
    &__panel {
      padding: 18px 20px;
      max-width: 90%;
      &--picker {
        margin-bottom: 10px;
      }
      &--gif {
        margin-bottom: 10px;
      }
    }
  }
  .blob-preview {
    &__inner {
      margin-top: -20px;
    }
  }
}

@media screen and (max-width: $second-breakpoint) {
  .controls {
    &__panel {
      flex-flow: column wrap;
      align-items: flex-start;
      &--picker {
        margin-bottom: 20px;
        width: 100%;
        input {
          width: 100%;
        }
      }
      &--slider {
        margin-bottom: 20px;
        width: 100%;
      }
      &--gif {
        flex-direction: column;
        .slider {
          margin-bottom: 20px;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: $third-breakpoint) {
  .controls {
    &__panel {
      max-width: 100%;
      &--slider {
        flex-direction: column;
      }
    }
  }
  .slider {
    &:first-child {
      margin-bottom: 20px;
    }
  }
  .header {
    &__wrapper {
      padding: 24px 24px 16px;
    }
    canvas {
      height: 80px;
      width: 80px;
      left: 3px;
      top: 10px;
    }
  }
}

