.blob-preview {
  padding: 0 48px;
  //height: 60vh;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__inner {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    width: 480px;
    border: 2px dashed $blob-border-color;
  }

  canvas {
    width: 70%;
    height: 70%;
  }
}
